body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(61, 61, 61);
  font-size: 2.5vh;
  color: white;
  padding: 0;
  margin: 0;
}

nav>a,
nav div>a {
  color: white;
  text-decoration: none;
  padding: 1vh;
  font-size: 3vh;
}

nav:hover>a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(2, 83, 66);
  padding: 2vh;
  margin: 0;
}

.Homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: url("./ImageAsset/vansImage.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  font-size: 3vh;
  text-align: center;
  background-size: cover;
  height: 79vh;
}

.Homecontainer h2 {
  margin: 0;
}

.HomeButton button {
  border: none;
  border-radius: 0.5vh;
  padding: 3vh;
  width: 15vw;
  cursor: pointer;
  color: white;
  font-size: 3vh;
  box-shadow: 0 0 16px black;
  background-color: transparent;
  backdrop-filter: blur(3px);

}

.AboutContainer {
  background-image: url("./ImageAsset/vansAbout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.AboutTextContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: black;
  text-align: center;
}

.VansContainer {
  font-size: 2vh;
  margin: 2vh;
  height: 53vh;
  border-radius: 1vh;
  text-align: center;
  background-color: #2d2d2d;
  padding: 0 0 2vh 0;
  box-shadow: 0 0 10px black;
}

.VansContainer img {
  width: 25vw;
}

.VansOuterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.VansContainer>a {
  color: white;
  text-decoration: none;
}

.btncolor {
  background-color: transparent;
  color: wheat;
  padding: 2vh;
  cursor: pointer;
  border-radius: 1vh;
}

.DetailsContainer {
  width: 80vw;
}

.ImgDetails {
  /* width: 40vw; */
}

.Detailspage {
  padding: 3vh;
}

.HostlayoutContainer>a {
  color: white;
  text-decoration: none;
}
.HostlayoutContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
a.Active{
  color: red;
  text-decoration: underline;

}
.backbutton{
  color: white;
  text-decoration: none;
}