body{
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Container{
  display: flex;
  height: 100vh;
}

.LeftContainer p > a{
  padding: 0.5vh;
  text-underline-offset: 0.3vh;
  color: rgb(240, 240, 240);
}
.LeftContainer{
  display: flex;
  align-items:  center;
  flex-direction: column;
  width: 15vw;
  background-color: rgb(70, 70, 70);
}
.RightContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(82, 80, 80);
  width: 85vw;

}

.aboutContainer > a{
  color: white;
  padding: 1vh;
}
.aboutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Classlist{
  background-color: gray;
  padding: 1vh;
}

.ContactContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


nav > a{
  color: white;
  padding: 2vh;
}

nav{
  background-color: lightblue;
  padding: 2vh;
  border-radius: 1vh;
}

.StudentContainer p:nth-child(n){
  background-color: gray;
  padding: 1vh;
  border-radius: 1vh;
  font-size: 2.5vh;
}
.Selected{
  background-color: rgb(141, 37, 37);
  color:wheat
}

.LockMe{
  cursor: pointer;
  text-decoration: underline;
}
.LockMe > a{
  color: white;
  padding: 1vh;
}